/* ## Colors

- White: hsl(0, 0%, 100%)

- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)

- Brown 800: hsl(14, 45%, 36%)

- Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%) */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }

.outfit-font {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



:root {

    --clr-stone-100: hsl(30, 54%, 90%);    
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);

    --clr-brown-800:hsl(14, 45%, 36%);

    --clr-Rose-800: hsl(332, 51%, 32%);
    --clr-Rose-50: hsl(330, 100%, 98%);



    --clr-white: hsl(0, 0%, 100%);

    --ff-main:"Outfit", sans-serfif;
    --ff-heading:"Young Serif", sans-serfif;
    --fs-main: 1rem;
    --fs-heading: 1.75rem;
    --fw-400:400;
    --fw-600:600;
    --fw-700:700;





}

/* reset */

*,
*::before,
*::After {
margin:0;
padding:0;
box-sizing: border-box;

}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: var(--fw-400);
    color: var(--clr-brown-800);
    margin-bottom: 1.5rem;
}
ul, ol {
    padding: 0 1.5rem;
    font-family: "Outfit";
}

img {
    display:block;
    max-width: 100%;
    font-style: italic;
    color:var(--clr-stone-600);

}




body {
font-family: var(--ff-main) ;
font-size: var(--fs-main) ;
font-weight: var(--fw-400);
line-height: 1.5;
color: var(--clr-stone-600);
background-color: var(--clr-stone-150);


    
}

/* text sizes */
h1 {
    font-size: 2.5rem;
    color: var(--clr-stone-900);
}

.prep-title {
    color: var(--clr-Rose-800);
    font-size: 1.25rem;
    font-weight: var(--fw-600);
}

span {
    font-weight: var(--fw-700);
}

[data-cell="nutrient-value"] {
    color: var(--clr-Rose-800);
    font-weight: var(--fw-600);
}

li {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

li::marker {
    font-weight: var(--fw-600);
    color: var(--clr-Rose-800);
}

/*layout styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
}


.main-wrapper {
    display: grid;
    place-items: center;
}

.recipe-wrapper {
    max-width: 45em;
    background-color: var(--clr-white);
    margin: 6em 0;
    padding: 1.75em;
    border-radius: 0.5rem;
}

section {
    margin-top: 2rem;
}

/* general styles */

tr {
    display: grid;
    grid-template-columns: repeat(2, 1Fr);
    padding: 1rem;
    border-bottom: 1px solid var(--clr-stone-100);
    margin-top: 1rem;
}

.recipe-img {
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}


.recipe-prep {
    background-color: var(--clr-Rose-50);
    padding: 1.75rem;
    border-radius: 0.8rem;
    margin-top: 2rem;

}

hr {
    outline: none;
    border: none;
    height: 1px;
    background-color: var(--clr-stone-100);
    margin-top: 2rem;
}



/* media queries */

@media (max-width: 500px) {
.recipe-wrapper {
    margin: 0;
    border-radius: 0;
    padding: 0;

}
.recipe-img {
    border-radius: 0;
}

.recipe-container {
    padding: 0 2rem;
}
h1 {
    font-size: 2.2rem;
}

}




